@model IEnumerable<SysPatrimonio.Models.DtoPatrimonio>

@{
    ViewData["Title"] = "Index";
}

<h1>Patrimonios</h1>
<p class="pull-right">
    <a asp-action="Create" class="btn btn-success">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="col-md-2">
                Núm. Etiqueta
            </th>
            <th class="col-md-3">
                Nome Patrimônio
            </th>
            <th class="col-md-2">
                Marca/Modelo
            </th>
            <th class="col-md-1">
                Situação
            </th>
            <th class="col-md-1">
                Núm. NF
            </th>
            <th class="col-md-1">
                Valor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numetiqueta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomepatrimonio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marcamodelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.situacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numnf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorpatrimonio)
            </td>
            <td>
                <div class="row pull-right formBotoes">
                    <div class="col-md-12">
                        <a asp-action="Edit"    class="btn btn-primary btn-sm" asp-route-id="@item.id">Editar</a> 
                        <a asp-action="Details" class="btn btn-primary btn-sm" asp-route-id="@item.id">Detalhes</a> 
                        <a asp-action="Delete"  class="btn btn-danger btn-sm"  asp-route-id="@item.id">Deletar</a>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
